<!DOCTYPE html>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>



{% load static %}
<head>
    <title>Financial Dataset for Researchers</title>
    <link rel='icon' href='https://www.iconninja.com/files/303/190/562/business-ratings-icon.png' type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-color:#ffffff; margin:0;padding:0;">
    <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
    <style>
        
    </style>
    
    <nav class="navbar navbar-dark" style="background-color:#2B5BF4;">
        <a href="/catalog" style="color:white; margin-left: 1vw; size:40px" class="font-weight-bold">
            Fin Bert
        </a>
            
    </nav>
    
    



    <div class="container-fluid">
        <!--selectrow-->
        <div class="row">
            <div>
                <div id=topselect class="row" style="margin-top:3vh;">
                    <form role="form" method="POST" enctype="multipart/form-data" action="{% url 'report' %}">
                        {% csrf_token %}
                        <select name="year" class="ui selection dropdown" style="padding: 5px 5px;">
                            
                            <option value="">Report Year</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                        </select>
                        
                        <select id="companylist" name="company" class="ui selection dropdown" style="padding: 5px 5px;">
                            <option value="">Company List</option>
                            <option :value="item" v-for="(item,index) in list">[[item]]</option>
                        
                        </select>
                        
                        <select id="itemlist" name="item" class="ui selection dropdown" style="padding: 5px 5px;">
                            <option value="">Item</option>
                            <option :value="item" v-for="(item,index) in list">[[item]]</option>
                        </select>
                        
                        <input type="submit"  id="submit1" class="ui button"  style="margin-top:1vw;" value="Anlayse" disabled="disabled">
                    </form>
                    
                </div>  
            </div>
            
        </div>
        <!--end selectrow-->
        

        <!--report row-->
        <div class="row" id=reportrow>
            <div class="col-md">
                <div class="col-md" id="leftreport" style="width: 650px;height:1000px;" >
                    <div id="report1" style="margin: 3px;">
                        {% for line in data1%}
                            {{line}}
                        {% endfor %}
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-md">
                <div class="col-md" id="rightreport" style="width: 650px;height:1000px; ">
                    <div id="report2" style="margin: 3px;  ">
                        {% for line in data2%}
                            {{line}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--report row end-->

    
    </div>
    <!--movingreport-->
    <div class="container">
        <div id="movingreport" class="row" >
            <button class="ui icon button" onclick=a()>
                <i class="angle left icon"></i>
            </button>
            <div class="ui shape">
             
                <div class="sides">
                    <div class="active side">
                        <div class="row" id=reportrow>
                
                            <div class="col-lg" id="leftreport" style="width: 500px;height:1000px;" >
                                <div id="report1" style="margin: 5px;">
                                  {{data1}}
                                </div>
                            
                            </div>
                        
                            <div class="col-lg" id="rightreport" style="width: 500px;height:1000px; ">
                                <div id="report2" style="margin: 5px;  ">
                                    {{data2}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side">
                        <div class="row" id=reportrow>
                
                            <div class="col-lg" id="leftreport" style="width: 500px;height:1000px;" >
                                <div id="report1" style="margin: 5px;">
                                    {{data1}}
                                </div>
                            
                            </div>
                        
                            <div class="col-lg" id="rightreport" style="width: 500px;height:1000px; ">
                                <div id="report2" style="margin: 5px;  ">
                                    {{data2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui icon button" onclick=b()>
                <i class="angle right icon"></i>
            </button>
        </div>
    </div>
    <!--movingreport end-->


    <script>
        function a(){
          $('.shape').shape('flip right');
        }
        function b(){
            $('.shape').shape('flip left')
        }
    </script>
    <script>
        var vm = new Vue({
        el: '#companylist',
        delimiters: ['[[', ']]'],
        data: {
        list: [
            "abc","Apple","Netflix","cde","1417663"
        ],
        },
        });

        var vm = new Vue({
        el: '#itemlist',
        delimiters: ['[[',']]'],
        data: {
        list:[
            "Item1","Item1A","Item1B","Item2",
            "Item3","Item4","Item5","Item6","Item7",
            "Item7A","Item8","Item9","Item9A","Item9B",
            "Item10","Item11","Item12","Item13","Item14",
            "Item15"
        ],
        },
        });
        
    </script>
    <script type='module' src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.23/vue.esm-browser.min.js">
        import {createApp} from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.23/vue.esm-browser.min.js';
        const app = Vue.createApp({
            data() {
                return {
                isShow: true
                }
            }
        });
        app.mount('#app');
    </script>

  

</body>
<script type="text/javascript">
    result =  "{{ result|safe }}";
    result = result.replace(/'/g,"\"");
    const result1 = JSON.parse(result)
    let key = result1.keywordsB;
    let label = result1.labels;
    let labels = label.toString();
    console.log(key[0])
    key1 = key[0]
    let senA = result1.senA
    let senB = result1.senB
    let paragraph1 = document.getElementById('report1');
    let paragraph2 = document.getElementById('report2');
    let broken1 = paragraph1.innerHTML.split(senA)
    let broken2 = paragraph2.innerHTML.split(senB);
    paragraph1.innerHTML = '';
    paragraph2.innerHTML = '';
    broken1.map((part, i) => {
        paragraph1.innerHTML += i + 1 >= broken1.length ? part : part + ' <mark style="background-color: #FFFF00">' + senA + '</mark>';
    });
    broken2.map((part, i) => {
        paragraph2.innerHTML += i + 1 >= broken2.length ? part : part + 
        '<mark id = "senB" tabindex="0" data-toggle="popover" title=" " onclick="fun()">' + senB + '</mark>';
        //' <mark onmouseover="" onclick="fun()" >' + senB + '</mark>';
        //
    });
    function fun(){
        
        $('[data-toggle="popover"]').popover({
            trigger : 'focus',
            content : labels,
            placement : "bottom"
        });
        
    }
    
    
</script>
<!--disable sumbit if select is empty-->

<script>
    $(document).ready(function(){
        fun();
        var count = 0;
        $('.ui.dropdown').change(function() {
            count++;
            if (count >= 3) {
                $('#submit1').removeAttr('disabled');
            }
        });

        $('#submit1').attr('disabled','disabled');
    });
    window.onload = function(){
        $('.ui.dropdown').dropdown();
    };
</script>
