<!DOCTYPE html>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.css">
    

{% load static %}
<head>
    <title>Financial Dataset for Researchers</title>
    <link rel='icon' href='https://www.iconninja.com/files/303/190/562/business-ratings-icon.png' type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-color:#ffffff; margin:0;padding:0;">
    <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scroll.css' %}">
    <style>
        
    </style>
    
    <nav class="navbar navbar-dark" style="background-color:#2B5BF4;">
        <a href="/catalog/report" style="color:white; margin-left: 1vw; size:40px" class="font-weight-bold">
            Fin Bert
        </a>
            
    </nav>
    <script>
        $('a').click(function(){
            localStorage.clear();
        })
    </script>
    



    <div class="container-fluid">
        <!--selectrow-->
        <div class="row">
            <div>
                <div id=topselect class="row" style="margin-top:3vh;">
                    <form role="form" name="myform" method="POST" enctype="multipart/form-data" action="{% url 'report' %}">
                        {% csrf_token %}
                        <select id="yearlist" name="year" class="ui selection dropdown" style="padding: 5px 5px;">
                            <option value="">Report Year</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                        
                        <select id="companylist" name="company" class="ui selection dropdown" style="padding: 5px 5px;">
                            <option value="">Company List</option>
                            <option :value="item" v-for="(item,index) in list">[[item]]</option>
                            
                        </select>
                        
                        <select id="itemlist" name="item" class="ui selection dropdown" style="padding: 5px 5px;">
                            <option value="">Item</option>
                            <option :value="item" v-for="(item,index) in list">[[item]]</option>
                        </select>
                        
                        <input type="submit"  id="submit1" class="ui button"  style="margin-top:1vw;" value="Anlayse" disabled="disabled">
                    </form>
                    
                </div>  
            </div>
            
        </div>
        <!--end selectrow-->
        

        <!--report row-->
        <div class="row" id=reportrow>
            <div class="col-md">
                <div class="col-md" id="leftreport" style="width: 700px;height:900px;" >
                    <div id="report1" style="margin: 3px;">
                        
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="col-md" id="rightreport" style="width: 700px;height:900px; ">
                    <div id="report2" style="margin: 3px;  ">
                    </div>
                </div>
            </div>
        </div>
        <!--report row end-->
        
    
    </div>
    <!--fullpage closed-->
    <!--
    <div id="fullpage">

		<div class="section" id="section" data-anchor="S2" style="background-color: #fff;"> 
			
			<div class="active slide" data-anchor="S">
                <h1 id="title"></h1>
                
			</div>
			
			<div class="active slide" data-anchor="S">
                <h1 id="title"></h1>
                <div class="row" id=reportrow>
                    <div class="col-md">
                        <div class="col-md" id="leftreport" style="width: 700px;height:900px;" >
                            <div id="report1" style="margin: 3px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="col-md" id="rightreport" style="width: 700px;height:900px; ">
                            <div id="report2" style="margin: 3px;  ">
                                {% for line in data2%}  
                                    {{line|linebreaksbr}}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="active slide" data-anchor="S">
                <h1 id="title"></h1>
                <div class="row" id=reportrow>
                    <div class="col-md">
                        <div class="col-md" id="leftreport" style="width: 700px;height:900px;" >
                            <div id="report1" style="margin: 3px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="col-md" id="rightreport" style="width: 700px;height:900px; ">
                            <div id="report2" style="margin: 3px;  ">
                                {% for line in data2%}  
                                    {{line|linebreaksbr}}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
			</div>
            

		</div> 
		
	</div>
    -->
    

    <!--timeline-->
    <div class="row">
        <form id="leftform" method="POST" action="{% url 'report' %}" onsubmit="leftsubmit()">
            {%csrf_token %}
            <input type="hidden" id="left_year" name="year" value=''/>
            <input type="hidden" id="left_company" name="company" value=''/>
            <input type="hidden" id="left_item" name="item" value=''/>
            <input type="submit" class="ui button"  style="margin-top:1vw;" value="lastyear" >
        </form>
        <form id="rightform" method="POST" action="{% url 'report' %}" onsubmit="rightsubmit()">
            {%csrf_token %}
            <input type="hidden" id="right_year" name="year" value=''/>
            <input type="hidden" id="right_company" name="company" value=''/>
            <input type="hidden" id="right_item" name="item" value=''/>
            <input type="submit" class="ui button"  style="margin-top:1vw;" value="nextyear" >
        </form>
            
        
    </div>
    <script>
        function leftsubmit(){
            var curryear = localStorage.getItem("yearnow")
            var company = localStorage.getItem("companynow")
            var item = localStorage.getItem("itemnow")
            var year = (parseInt(curryear) - 1).toString()
            if (curryear=="2012"){
                event.preventDefault();
            }
            else{
                document.getElementById("left_year").setAttribute('value',year); 
                document.getElementById("left_company").setAttribute('value',company); 
                document.getElementById("left_item").setAttribute('value',item); 
                //localstorage has to change
                localStorage.setItem("yearnow",year)    
                return True;
            }
        }
        function rightsubmit(){
            var curryear = localStorage.getItem("yearnow")
            var company = localStorage.getItem("companynow")
            var item = localStorage.getItem("itemnow")
            var year = (parseInt(curryear) + 1).toString()
            if (curryear=="2018"){
                event.preventDefault();
            }
            else{
                document.getElementById("right_year").setAttribute('value',year); 
                document.getElementById("right_company").setAttribute('value',company); 
                document.getElementById("right_item").setAttribute('value',item); 
                //localstorage has to change
                localStorage.setItem("yearnow",year)    
                return True;
            }
        }
        
        console.log(localStorage.getItem("yearnow"))
        
        
    </script>

    <!--fullpage js closed-->
    <!--
    <script>
        $(document).ready(function() {
            var myFullpage = new fullpage('#fullpage', {
            verticalCentered: true,
            autoScrolling: false,
            controlArrows: true,
            fitToSection: false,
            })
        })
    //slide
        $('.slide').each(function(){
            var slide = $(this),
                //sectionSlides = section.find('.slide'),
                //totalItems = sectionSlides.length,
                currentIndex = slide.filter('.active').index()+1,
                numContainer = slide.find('#title'); 
            
            numContainer.html("123");
        });

        //var allslide = getElementsByClassName("slide");
        

    </script>
    -->
    
    <!--get value of previous request-->
    <script>
        $(document).ready(function(){
            //var input = document.getElementById('yearlist');
            $("#yearlist").change(function(){
                saveSettings1($(this).val());
            });
            $("#companylist").change(function(){
                saveSettings2($(this).val());
            });
            $("#itemlist").change(function(){
                saveSettings3($(this).val());
            });
            function saveSettings1(val) {
                localStorage.setItem("yearnow",val);
            }
            function saveSettings2(val) {
                localStorage.setItem("companynow",val);
            }
            function saveSettings3(val) {
                localStorage.setItem("itemnow",val);
            }
            //console.log(parseInt(localStorage.getItem("yearnow"))+1)
            //console.log(localStorage.getItem("companynow")
        });
    </script>
    <script>
        var vm = new Vue({
        el: '#companylist',
        delimiters: ['[[', ']]'],
        data: {
            list: [
              "abc","Apple","Netflix","cde","1417663"
            ],
        },
        });

        var vm = new Vue({
        el: '#itemlist',
        delimiters: ['[[',']]'],
        data: {
        list:[
            "Item1","Item1A","Item1B","Item2",
            "Item3","Item4","Item5","Item6","Item7",
            "Item7A","Item8","Item9","Item9A","Item9B",
            "Item10","Item11","Item12","Item13","Item14",
            "Item15"
        ],
        },
        });
        
        
    </script>

  

</body>

<!--js report1 and report2-->

<script type="text/javascript">
    
    var givevalue = function (dict,myKey) {
        return dict[myKey];
    };
    //arti : all year article
    data1 = "{{ data1|safe }}";
    data2 = "{{ data2|safe }}";
    data1 = data1.replace(/'/g,"\"");
    data2 = data2.replace(/'/g,"\"");
    //type=string
    const report1 = JSON.parse(data1);
    const report2 = JSON.parse(data2);

    //write content into slide
    //var slide_content = function(arti1,active_slide_index)
    //console.log(arti1.year2011)
    let paragraph1 = document.getElementById('report1');
    let paragraph2 = document.getElementById('report2');
    paragraph1.innerHTML = ''
    paragraph2.innerHTML = ''
    //paragraph2.innerHTML = ''
    
    report1.map((part,i) => {
        //console.log(part, i)
        paragraph1.innerHTML += part == "\n" ? '<br>' : part 
    })
    report2.map((part,i) => {
        paragraph2.innerHTML += part == "\n" ? '<br>' : part
    }) 
</script>




<!--js highlight sentence-->
<script type="text/javascript">
    result =  "{{ result|safe }}";
    result = result.replace(/'/g,"\"");
    const result1 = JSON.parse(result)
    console.log(result1)
    //console.log(result1.length)
    for (var i=0; i < result1.length;i++){
        let key = result1[i].keywordsB;
        let label = result1[i].labels;
        let labels = label.toString();
        //console.log(key[0])
        key1 = key[0]
        let senA = result1[i].senA
        //console.log(senA)
        let senB = result1[i].senB
        let paragraph1 = document.getElementById('report1');
        let paragraph2 = document.getElementById('report2');
        let broken1 = paragraph1.innerHTML.split(senA);
        let broken2 = paragraph2.innerHTML.split(senB);
        
        paragraph1.innerHTML = '';
        paragraph2.innerHTML = '';
        // mark
        broken1.map((part, i) => {
            paragraph1.innerHTML += i + 1 >= broken1.length ? part : part + 
            ' <mark class="senA" tabindex="0">' + senA + '</mark>';
        });
        broken2.map((part, i) => {
            paragraph2.innerHTML += i + 1 >= broken2.length ? part : part + 
            '<mark class="senB"  tabindex="0" onclick=fun(this)>' + senB + '</mark>';
            //' <mark onmouseover="" onclick="fun()" >' + senB + '</mark>';
            //
        });

        
    }
    // jump to corresponding sena id
    var senb = document.getElementsByClassName("senB");
    var sena = document.getElementsByClassName("senA");
    var senb_item = [];
    var sena_item = [];
    var senabdic = {};
    for (var n = 0; n < result1.length; n++) {
        senb[n].id = "senb_" + n;
        sena[n].id = "sena_" + n;
        senb_item.push(senb[n].id)
        sena_item.push(sena[n].id)
        senabdic[senb[n].id] = sena[n].id;
        
        //console.log(senb[n].id)
    }
    function fun(ele){
        //console.log(window.pageYOffset)
        var leftreport = document.querySelector('#leftreport');
        var rightreport = document.querySelector('#rightreport')
        //console.log(leftreport)
        senb = document.getElementById(ele.id)
        sena = document.getElementById(senabdic[ele.id]); // <-- Scroll to here within ".box"
        
        scrollToElm(rightreport,senb,600)
        scrollToElm(leftreport,sena,600);   

        function scrollToElm(container, elm, duration){
            var pos = getRelativePos(elm);
            scrollTo( container, pos.top , 0.87);  // duration in seconds
        }
        function getRelativePos(elm){
            var pPos = elm.parentNode.getBoundingClientRect(), // parent pos leftreport
            cPos = elm.getBoundingClientRect(); // target pos senb
            console.log(pPos.top,elm)
            winy = window.pageYOffset;
            console.log(winy)
            pos = {};

            pos.top    = cPos.top    - pPos.top + elm.parentNode.scrollTop,
            pos.right  = cPos.right  - pPos.right,
            pos.bottom = cPos.bottom - pPos.bottom,
            pos.left   = cPos.left   - pPos.left;


            return pos;
        }
        
        function scrollTo(element, to, duration, onDone) {
            var start = element.scrollTop,
            change = to - start,
            startTime = performance.now(),
            val, now, elapsed, t;
        
            function animateScroll(){
                now = performance.now();
                elapsed = (now - startTime)/1000;
                t = (elapsed/duration);

                element.scrollTop = start + change * easeInOutQuad(t);

                if( t < 1 )
                    window.requestAnimationFrame(animateScroll);
                else
                    onDone && onDone();
            };

            animateScroll();
        }
        function easeInOutQuad(t){ return t<.5 ? 2*t*t : -1+(4-2*t)*t };
    }
    
    
    
    
</script>

<!--js highlight words based on scores-->
<script>
    function hex (c) {
        var s = "0123456789abcdef";
        var i = parseInt (c);
        if (i == 0 || isNaN (c))
            return "00";
        i = Math.round (Math.min (Math.max (0, i), 255));
        return s.charAt ((i - i % 16) / 16) + s.charAt (i % 16);
    }

    /* Convert an RGB triplet to a hex string */
    function convertToHex (rgb) {
        return hex(rgb[0]) + hex(rgb[1]) + hex(rgb[2]);
    }

    /* Remove '#' in color hex string */
    function trim (s) { return (s.charAt(0) == '#') ? s.substring(1, 7) : s }
    //substring(1,7) : not contain 7(1~6)


    /* Convert a hex string to an RGB triplet */
    function convertToRGB (hex) {
        var color = [];
        color[0] = parseInt ((trim(hex)).substring (0, 2), 16);
        color[1] = parseInt ((trim(hex)).substring (2, 4), 16);
        color[2] = parseInt ((trim(hex)).substring (4, 6), 16);
        return color;
    }
    //R : 1~2
    //G : 3~4
    //B : 5~6
    //parseInt(hexstring, 16) : convert hex into int

    function generateColor(colorStart,colorEnd,colorCount){

        // The beginning of your gradient
        var start = convertToRGB (colorStart);    

        // The end of your gradient
        var end   = convertToRGB (colorEnd);    

        // The number of colors to compute
        var len = colorCount;

        //Alpha blending amount
        var alpha = 0.0;

        var saida = [];
        
        for (i = 0; i < len; i++) {
            var c = [];
            alpha += (1.0/len);
            
            c[0] = start[0] * alpha + (1 - alpha) * end[0];
            c[1] = start[1] * alpha + (1 - alpha) * end[1];
            c[2] = start[2] * alpha + (1 - alpha) * end[2];

            saida.push(convertToHex (c));
            
        }
        
        return saida;
    }
    //function to return color index according to score
    function score2color(score){
        //generate color
        var tmp = generateColor('#ffedbc','#ed4264',100);
        var scorecolor = tmp[score*100-1]
        return(scorecolor)
    }
    
</script>



<!--disable sumbit if select is empty-->
<script>
    $(document).ready(function(){
        
        var count = 0;
        $('.ui.dropdown').change(function() {
            count++;
            if (count >= 3) {
                $('#submit1').removeAttr('disabled');
            }
        });

        $('#submit1').attr('disabled','disabled');
    });
    window.onload = function(){
        $('.ui.dropdown').dropdown();  
    };
</script>
