#leftreport {
    
    overflow-y: scroll; 
    align-items:"center";
    margin-top: 100px;
    
    
    
    
}
#rightreport {
    
    overflow-y: scroll; 
    align-items:"center";
    margin-top: 100px;
    
    
}
#reportrow {
    
    
    margin-bottom: 100px;
}
mark {
    background-color: yellow;
    cursor: pointer;
}
#senB {
    background-color: yellow;
    cursor: pointer;
    
}

#leftbotton {
    margin-top: 100 px;
}
#movingreport {
    align-items: center;
}



