#leftreport {
    
    overflow-y: scroll; 
    right: 0;
    
    
    margin-top: 100px;
    
   
    
    
}
#rightreport {
    
    overflow-y: scroll; 
    height:100%; 
    margin-top: 100px;
    
}



#reportrow {
    
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 100px;
  }


