#topselect {
    margin-left: 60px;
}

#leftreport {
    position:absolute;
    left:30px;
    
    overflow-y: scroll; 
    align-items:"center";
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 40px;
    
    
    
}

#rightreport {
    position:absolute;
    right:30px;
    
    overflow-y: scroll; 
    align-items:"center";
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 40px;
}
#report2 {
    margin-bottom:100px;
}

#reportrow {
    
    margin-bottom: 100px;
}
mark {
    background-color: #FFFF66;
    border-radius: 25px;
    cursor: pointer;
}

#leftbotton {
    margin-top: 100 px;
}
#movingreport {
    align-items: center;
}



